<%= link_to 'New Article', new_admin_dashboard_article_path, class: 'btn btn-primary' %>
<div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-primary card-header-icon">
                  <div class="card-icon">
                    <i class="material-icons">assignment</i>
                  </div>
                  <h4 class="card-title">Articles</h4>
                </div>
                <div class="card-body">
                  <div class="toolbar">
                    <!--        Here you can write extra buttons/actions for the toolbar              -->
                  </div>
                  <div class="material-datatables">
                    <div id="datatables_wrapper" class="dataTables_wrapper dt-bootstrap4">
                      <table class="table table-striped " id="articles_table">
                        <thead>
                        <tr class="info">
                          <th>Headline</th>
                          <th>State</th>
                          <th>Created at</th>
                          <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <% @articles.each do |article| %>
                            <tr class="<%= cycle('even', 'odd') %>">
                              <td><%= article.headline %></td>
                              <td><%= article.approved ? 'Published' : 'Unpublished' %></td>
                              <td><%= article.created_at.strftime("%m/%d/%Y") %></td>
                              <td><%= article.id %></td>
                            </tr>
                        <% end %>
                        </tbody>
                      </table>
                    </div>
                </div>
                <!-- end content-->
              </div>
              <!--  end card  -->
            </div>
            <!-- end col-md-12 -->
          </div>
        </div>
<script>
    $(document).ready(function() {
      dataTableObj = $('#articles_table').DataTable({
          responsive: true,
          aaSorting: [],
          serverSide: true,
          processing: true,
          deferLoading: <%= @articles.count %>,
          ajax: {
              url: "<%= admin_dashboard_articles_path %>",
              dataSrc: 'data'
          },
          columns: [
              { data: 'Headline' },
              { data: 'State' },
              { data: 'Created at' },
              { data: 'Actions',
                  render: function ( data, type, row ) {
                      return  '<a class="btn btn-success btn-link" href="/admin/dashboard/articles/' + row.Actions + '/edit"><i class="material-icons">edit</i><div class="ripple-container"></div></a>' +
                       '<a data-confirm="Are you sure want to delete this manufacturer?" class="btn btn-danger btn-link" id="delete_entity" rel="nofollow" data-method="delete" data-remote="true" href="/admin/dashboard/articles/' + row.Actions + '"><i class="material-icons">close</i><div class="ripple-container"></div></a>';
                  }
              }
          ]
      });
    });
</script>
